@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: #0a0a0a;
}

body {
  overflow: hidden;
}

.char {
  opacity: 0;
  transform-origin: center;
}


rect {
  opacity: 0.9;
  mix-blend-mode: color-burn;
} 

.rotation-animation {
  animation: rotate 240s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pulsate {
  animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
  }
}

.calibration-button {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
}

.calibration-button:hover {
  box-shadow: 0 0 60px 0 rgba(255, 255, 255, 0.2);
}