@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: #0a0a0a;
}

body {
  overflow: hidden;
}

.char {
  opacity: 0;
  transform-origin: center;
}


rect {
  opacity: 0.8;
  mix-blend-mode: color-burn;
} 

.rotation-animation {
  animation: rotate 240s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}